/*
 _______________________________________________________________________________________________________________________________________________________
|																																						|
|																NAVIGATION BAR																			|
|_______________________________________________________________________________________________________________________________________________________|
*/

.cust-header{
	height:50px;
}

/*
 _______________________________________________________________________________________________________________________________________________________
|																																						|
|												        				FOOTER																			|
|_______________________________________________________________________________________________________________________________________________________|
*/

.cust-footer{
    display: block;
    float: left;
    width:100%;
    min-height:300px;
    background:#3b3b3b;
}
.cust-footer   .cf-sec-1{
    width:95%;
    margin:0 2.5%;
    height:60px;
    border-bottom:2px solid #000;
}
.cust-footer  .cf-sec-2{
    width:100%;
    height:300px;
}
.cust-footer  .cf-sec-3{
    width:100%;
    height:60px;
    background:#000;
    text-align:right;
}
.cust-footer .cf-sec-1 ,.cust-footer .cf-sec-3{
    line-height: 60px;
    font-size:150%;
    color:#ccc;
}