.home-top-fixed{
	position:fixed;
	left:0px;
	top:60px;
}
.home-top{
	width:100%;
	height:400px;
	text-align:center;
}
.home-top > .hs1{
	width:100%;
	height:170px;
	padding-top:60px;
	text-align:left;
}
.home-top > .hs2{
	width:100%;
	height:130px;
}
.home-top > .hs3{
	width:100%;
	height:100px;
}

.home-mid{
	margin-top:400px;
	background:#fff;
	width:100%;
	min-height:500px;
}