@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin shadow( $hoff , $voff, $blur , $color) {
  -webkit-box-shadow:$hoff $voff $blur $color;
  -moz-box-shadow:$hoff $voff $blur $color;
  box-shadow: $hoff $voff $blur $color;
}


