@charset "UTF-8";

$themeColor : #66cbff;
    $themeColorR : 102;
    $themeColorG : 203;
    $themeColorB : 225;
$themeDark : #3d0042;
$themeAsh : #313131;
$defFont : #555;

$teal:#3faac9;

/* Colors */

$blue:#3498db;
    $blueR:52;
    $blueG:152;
    $blueB:219;

$asphalt:#34495e;
$yellow :#f1c40f;
$greenBlue : #1abc9c;
$green : #27ae60;
$red : #c0392b;
$orange : #e67e22;
$grey : #95a5a6;
$cloud : #ecf0f1;

/* images */

/* Testing */
$TB1 : red dashed 1px;
$TB2 : #555 dashed 1px;
$TB3 : #aaa dashed 1px;
$TB4 : #ddd dashed 1px;

$Tborder : $TB1;
 