<div class="lgPage">
	<div class="boxx">
		<div class="lgOuter">
			<div class="lgHeader">Login</div>
			<div class="lgBox">
				<input type="text" placeholder="Email">
				<input type="password" placeholder="Password">
				<div class="bgrid -b-d-100">
					<input type="checkbox">
					<span class="label">Keep me logged in</span>
				</div>
				<button type="submit">Log in</button>
				<div class="bgrid -b-d-100 bg-text-c">
					<a href="">Cannot login?</a>
				</div>
			</div>
			<div class="lgFooter">Sign up</div>
		</div>
	</div>
</div>