<div class="pageContactUs">
	<div class="pageHead">LET'S GET CONNECTED</div>
	<div class="boxx">
		<div class="c_pageHalf">
			<div class="P_heading">Reach out to us!</div>
			<div class="P_cont p_cust-m-b">Got a question about linkonedu? Are you interested in partnering with us? Have some suggestion or just want to say hi? Contact us.</div>
			<input type="text" placeholder="First name">
			<input type="text" placeholder="Last name">
			<input type="email" placeholder="Your Email Address">
			<input type="text" placeholder="Phone Number">
			<textarea placeholder="Message"></textarea>
			<button class="cu_mobShow">SUBMIT NOW</button>
		</div>
		<div class="c_pageHalf">
			<div class="P_heading2">Customer Care</div>
			<div class="P_cont">Ready to answer you </br> 9:00 Am - 8:00 Pm</div>
			<div class="P_cont-l">+918891956799</div>

			<div class="P_heading2 p_cust-m-t">Address</div>
			<div class="P_cont">Linkonedu, Near capitol mall </br>Kannur, kerala</div>
			
			<div class="P_heading2 p_cust-m-t">Email Us</div>
			<div class="P_cont">hello@linkonedu.com</div>
			
			<div class="P_heading2 p_cust-m-t ">Other ways to get connected</div>
			<div class="P_cont">Like us On Facebook </br>Follow us On twitter</div>
			
			<button class="cu_mobHide">SUBMIT NOW</button>
		</div>
	</div>
</div>