@import '_functions/baseFunctions';
@import '_base/variables';
.cust-footer{ 
    .foot-1{ 
    	span{ 
        	cursor:pointer;
    	}
    }
    .foot-2{ 
        .foot-2block:hover{ 
        	cursor:pointer;
        	color:$themeCPale_H;
        }
    }
    .foot-3{ 
        .foot-3block:hover{ 
        	cursor:pointer;
            img{  
            	@include filter(brightness(120%));
            }
        }
    }
    .foot-4{  
        .foot-4block{ 
        	span:hover{
        		cursor:pointer;
        		color:rgba(255,255,255,.85);
        	}
        }
    }
    .foot-5{ 
    }
} 