<div class="boxx">
    <div class="cf-sec-1">
        Linkon education
    </div>
    <div class="cf-sec-2">
        <div class="cfs2-1">
            <div>
                <h4>Follow Us</h4>
            </div>
            <div>
                <div>
                    <a></a>
                    <a></a>
                    <a></a>
                    <a></a>
                </div>
            </div>
            <div>
                <h4>Help and Support</h4>
                <div>
                    <div><a href="">FAQ</a></div>
                    <div><a href="">Terms of use</a></div>
                    <div><a href="">Contact Support</a></div>
                    <div><a href="">About Linkon</a></div>
                    <div><a href="">Advertise</a></div>
                    <div><a href="">Teach at Linkon</a></div>
                    <div><a href="">Donate to Linkon</a></div>
                    <div><a href="">Meetups</a></div>
                </div>
            </div>
        </div>
        <div class="cfs2-2">
            <div><h4>Email Newsletters</h4></div>
            <div><a>Get linkon updates, News, Survays & Offers</a></div>
            <div>
                <form>
                    <input type="text" placeholder="Email address"/>
                    <button>Subscribe</button>
                </form>
            </div>
            <div><a>Privacy Policy</a></div>
        </div>
        <div class="cfs2-3">
            <div class="bgird -bg-d-100  sec-1"> Watch Free Video Classes  </div>
            <div class="  -bg-d-50  sec-2">
                <div class="box">
                    <div class="bgrid -bg-s-100 -bg-s-100-o">
                        <img src="images/icons/playButton-100.png">
                    </div>
                </div>
                <span>Coming Soon</span>
            </div>
            <div class="  -bg-d-50  sec-3">
                Chartered Accountants Coast Accountants And Company Secretary Free Videos of the
                complete Topics to enable online selt studay Online through our new initiative every one can become a CA very
                easly our classes are are so designed i such a way that it fulfil the inteme quality and standards
            </div>
        </div>
    </div>
</div>
<div class="cf-sec-3">
    <div class="boxx">
        Linkonedu.com
    </div>
</div>