<div class="boxx"> 
    <div class="foot-1">
        <span>WATCH FREE VIDEO CLASSES</span>
    </div>
    <div class="foot-2">
        <div class="foot-2block">LOGIN</div>
        <div class="foot-2block">FEEDBACK</div>
        <div class="foot-2block">ADVERTISE</div>
    </div>
    <div class="foot-3">
        <div class="foot-3block"><img src="images/icons/i.jpg"></div>  
        <div class="foot-3block"><img src="images/icons/g.jpg"></div>  
        <div class="foot-3block"><img src="images/icons/f.jpg"></div>  
        <div class="foot-3block"><img src="images/icons/t.jpg"></div>  
        <div class="foot-3block"><img src="images/icons/p.jpg"></div>  
    </div>
    <div class="foot-4">
        <span class="foot-4block"><span>Sitemap</span></span>
        <span class="foot-4block"><span>About us</span></span>
        <span class="foot-4block"><span>Disclamer</span></span>
        <span class="foot-4block"><span>Join the team</span></span>
        <span class="foot-4block"><span>Add a Programe</span></span>
    </div>
    <div class="foot-5">
        Linkon Education
    </div>
</div>