<div class="grayBG bgrid coursePage page-full"  style="width:100%;">
    <div class="boxx">
        <div class="bgrid  whiteBG pageOuter">
            <!--Left side Box-->
            <div class="page-left">
                <div class="top">
                    Navigation
                    <div class="snavBarDown"><span></span><span></span></div>
                </div> 
                <div class="cont">
                    <div class="sector " ng-repeat="course in courses.courseLists | filter:ASsearch" ng-class="{'active':course.id == courses.navItem}">
                        <div class="parent" ng-click="courses.selectItem(course.id); ">{{ course.title }}</div>
                        <div class="bgrid -b-d-100" ng-repeat="child in course.children | filter:ASsearch">
                            <div class="child" ng-if="child.type=='parent'"ng-click="courses.selectChild(child.parIndex)" ng-class="{'active':child.parIndex == courses.itemChild}"  >
                                {{ child.title }} <i class="fa fa-th-large"></i>
                            </div>  

                            <a class="child" ng-href="#/course_details/{{child.id}}" ng-if="child.type=='endNode'" >
                                {{ child.title}} 
                            </a> 
                        </div>
                    </div>
                </div>
                <div class="notFound" ng-if="(courses.courseLists | filter:ASsearch).length < 1"> No result found for the search "{{ ASsearch }}"</div>
                <div class="ASsearchBar">
                    <input type="text" placeholder="Type here" ng-model="ASsearch"/>
                    <button>SEARCH</button>
                </div> 
            </div>
            <!--page index and other info-->
            <div class="page-mid">
                <div class="sector"ng-repeat="data in courses.courseData.slice(courses.itemStarting,courses.itemStarting + courses.itemCount)" >

                    <div class="topSection">
                        <div class="main">
                            <div class="top">
                                <div class="img">
                                    <img src="{{data.img}}">
                                </div>
                            </div>
                            <div class="mid">{{ data.title }}</div>
                            <div class="bottom">{{ data.desc }}</div>
                        </div>
                        <div class="childCart">   
                            <div class="child" ng-click="courses.childClick(child.parIndex,child.type,$index)" ng-repeat="child in data.children.slice(0,courses.childCartCount)">  
                                <div class="head" ng-if="$state.current.name == 'courses' || $state.current.name == 'exams' || $state.current.name == 'scolarship'"> 
                                    {{ child.title}}
                                </div>  

                                <div class="mid" ng-if="$state.current.name == 'courses' || $state.current.name == 'exams' || $state.current.name == 'scolarship'">   
                                
                                    <table ng-if="child.type == 'endNode'" > 
                                        <tr>
                                            <td ng-if="$state.current.name == 'scolarship'" > <div >Duration :  </div></td> <!-- scolarship -->
                                            <td ng-if="$state.current.name == 'courses'" > <div >Duration :  </div></td> <!-- course -->
                                            <td ng-if="$state.current.name == 'exams'" > <div >ExamThing :  </div></td> <!-- exams -->
                                            <td class="iconSet"> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( child.duration ) track by $index" class="star-checked"></div> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( 5 - child.duration ) track by $index" class="star-unchecked"></div> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td ng-if="$state.current.name == 'scolarship'" > Cost(Aprox) :  </td><!-- scolarship -->
                                            <td ng-if="$state.current.name == 'courses'" > Cost(Aprox) :  </td><!-- course -->
                                            <td ng-if="$state.current.name == 'exams'" > Exam :  </td><!-- exams -->
                                            <td class="iconSet"> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( child.cost ) track by $index" class="star-checked"></div> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( 5 - child.cost ) track by $index" class="star-unchecked"></div> 
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="subParent" ng-if="child.type == 'parent'">
                                        <div class="subImage">
                                            <img src="{{ child.imgLink }}">
                                        </div>
                                        <div class="desc">
                                            Around <span class="c-blue">{{ child.childCount }} Options </span>available in this catogory. Click to see more
                                        </div>
                                    </div>
                                </div>  

                                <div class="b-grid headF" ng-if="$state.current.name == 'funzone'"> 
                                    {{ child.title}}
                                </div>   
                                <div class="b-grid" ng-if="$state.current.name == 'funzone'">
                                    <span ng-if=" child.title.length <= 28 "  > 
                                        {{  child.description | limitTo: 120 }}{{child.description.length > 120 ? '...' : ''}} 
                                    </span>
                                    <span ng-if=" child.title.length > 28 " class='overH6'> 
                                        {{  child.description | limitTo: 80 }}{{child.description.length > 80 ? '...' : ''}} 
                                    </span>
                                    <div class="BottomImg">
                                        <img src="{{ child.img }}">
                                    </div>
                                </div>

                            </div>
                            <div class="moreBtn" ng-if="data.children.length > 5" ng-click="data.showRestChild = ! data.showRestChild"> 
                                <span ng-class="{'hidden': data.showRestChild}">SHOW MORE +</span> 
                                <span ng-class="{'hidden': !data.showRestChild}">SHOW LESS -</span> 
                            </div>
                        </div>   
                    </div>   

                    <div class="bottomSection" >
                        <div class="restChildCart" > 
                            <div class="child " ng-click="courses.childClick(child.parIndex,child.type,$index)" ng-repeat="child in data.children.slice(courses.childCartCount,100)" ng-class="{'showChild': data.showRestChild}"> 
                                <div class="head" ng-if="$state.current.name == 'courses' || $state.current.name == 'exams' || $state.current.name == 'scolarship'"> 
                                    {{ child.title}}
                                </div>  

                                <div class="mid" ng-if="$state.current.name == 'courses' || $state.current.name == 'exams' || $state.current.name == 'scolarship'">  

                                    <table ng-if="child.type == 'endNode'" > 
                                        <tr>
                                            <td ng-if="$state.current.name == 'scolarship'" > <div >Duration :  </div></td> <!-- course -->
                                            <td ng-if="$state.current.name == 'courses'" > <div >Duration :  </div></td> <!-- course -->
                                            <td ng-if="$state.current.name == 'exams'" > <div >ExamThing :  </div></td> <!-- exams -->
                                            <td class="iconSet"> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( child.duration ) track by $index" class="star-checked"></div> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( 5 - child.duration ) track by $index" class="star-unchecked"></div> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td ng-if="$state.current.name == 'scolarship'" > Cost(Aprox) :  </td><!-- course -->
                                            <td ng-if="$state.current.name == 'courses'" > Cost(Aprox) :  </td><!-- course -->
                                            <td ng-if="$state.current.name == 'exams'" > Exam :  </td><!-- exams -->
                                            <td class="iconSet"> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( child.cost ) track by $index" class="star-checked"></div> 
                                                <div ng-class="{'active': courses.pageAct}" ng-repeat="i in courses.getNumber( 5 - child.cost ) track by $index" class="star-unchecked"></div> 
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="subParent" ng-if="child.type == 'parent'">
                                        <div class="subImage">
                                            <img src="{{ child.imgLink }}">
                                        </div>
                                        <div class="desc">
                                            Around <span class="c-blue">{{ child.childCount }} Options </span>available in this catogory. Click to see more
                                        </div>
                                    </div>
                                </div>  

                                <div class="b-grid headF" ng-if="$state.current.name == 'funzone'"> 
                                    {{ child.title}}
                                </div>   
                                <div class="b-grid" ng-if="$state.current.name == 'funzone'">
                                    <span ng-if=" child.title.length <= 28 "  > 
                                        {{  child.description | limitTo: 120 }}{{child.description.length > 120 ? '...' : ''}} 
                                    </span>
                                    <span ng-if=" child.title.length > 28 " class='overH6'> 
                                        {{  child.description | limitTo: 80 }}{{child.description.length > 80 ? '...' : ''}} 
                                    </span>
                                    <div class="BottomImg">
                                        <img src="{{ child.img }}">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> 
                </div>
                <div class="paginator">
                    <div class="leftBtn " ng-click="courses.paginate(0)" ng-class="{'leftDeact':courses.itemStarting <= 0}"> <i class="fa fa-chevron-left"></i> </div>
                    <div class="mid"> VIEW MORE CATEGORY </div>
                    <div class="rightBtn"  ng-click="courses.paginate(1)" ng-class="{'rightDeact':courses.itemStarting + courses.itemCount >= courses.courseData.length}"> <i class="fa fa-chevron-right"></i>  </div>
                </div>
            </div>
        </div>
    </div>
</div>