<div class="home-top-fixed">
	<div class="container">
		<div class="home-top">
			<div class="hs1">
				Linkonedu
			</div>
			<div class="hs2">
				TIRED OF SEARCHING THE RIGHT COURSE/EXAM/SCOLARSHIP</br>
				DETAILS? DONTBE ANYMORE LINKONEDU BRINGS</br>
				YOU JUST NEED FEW SECONDS TO READ IT
			</div>
			<div class="hs3">
				<input type="text" placeholder="Enter course or exam here"/>
			</div>
		</div>
	</div>
</div>	
<div class="container">	
	<div class="home-mid cust-z-10">
		
	</div>
</div>
