/* Colors */
/* images */
/* Testing */
/* Responsive */
.cust-header {
  height: 60px;
  margin-top: -60px; }

.hShow {
  margin-top: 0px; }

.ngViewDiv {
  margin-top: 60px;
  min-height: 400px; }

.cust-footer {
  display: block;
  float: left;
  width: 100%;
  min-height: 0px; }
  .cust-footer .foot-1 {
    display: block;
    float: left;
    width: 94%;
    margin: 0 3%; }
  .cust-footer .foot-2 {
    display: block;
    float: left;
    width: 94%;
    margin: 0 3%; }
    .cust-footer .foot-2 .foot-2block {
      display: block;
      float: left;
      width: 30%;
      margin: 0 calc( (10% / 3 ) /2 );
      margin-bottom: 30px; }
  .cust-footer .foot-3 {
    display: block;
    float: left;
    width: 94%;
    margin: 0 3%;
    margin-bottom: 10px; }
    .cust-footer .foot-3 .foot-3block {
      display: block;
      float: left;
      width: 10%;
      margin: 0 5%;
      min-height: 40px; }
      .cust-footer .foot-3 .foot-3block img {
        max-width: 100%;
        min-width: 100%;
        height: auto; }
  .cust-footer .foot-4 {
    display: block;
    float: left;
    width: 94%;
    margin: 0 3%;
    text-align: center; }
    .cust-footer .foot-4 .foot-4block span {
      cursor: default; }
  .cust-footer .foot-5 {
    display: block;
    float: left;
    width: 94%;
    margin: 0 3%; }

.progressPage {
  padding: 20px;
  font-size: 80%;
  font-family: thin; }
  .progressPage table {
    border: 1px solid #999;
    width: 100%; }
    .progressPage table tr:nth-child(1) {
      background: #f5f5f5; }
      .progressPage table tr:nth-child(1) th {
        border-bottom: 1px solid #ddd; }
    .progressPage table th {
      line-height: 40px;
      color: #000; }
    .progressPage table td {
      line-height: 25px; }
    .progressPage table td:nth-child(even) {
      background: rgba(0, 0, 0, 0.03); }
    .progressPage table th:not(.pro-task),
    .progressPage table td:not(.pro-task) {
      width: 80px;
      max-width: 80px;
      text-align: center; }
    .progressPage table .pro-task {
      padding-left: 20px; }
    .progressPage table .pro-head {
      font-weight: bold;
      color: #66cbff;
      padding-top: 10px; }
    .progressPage table tr td {
      border-bottom: 1px solid #eee; }
    .progressPage table .tick {
      color: #27ae60; }
    .progressPage table .cross {
      color: #ddd; }
    .progressPage table .inPro {
      color: #f1c40f; }
  .progressPage .pro-bar {
    display: block;
    float: left;
    width: 100%;
    margin: 20px 0;
    background: #ddd;
    height: 30px;
    max-height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    position: relative; }
  .progressPage .pro-bar-comp, .progressPage .pro-bar-inPro {
    display: block;
    float: left;
    background: #27ae60;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  .progressPage .pro-bar-inPro {
    background: #f1c40f;
    z-index: 9; }
  .progressPage .pro-box {
    display: block;
    float: left;
    width: 200px;
    text-align: center;
    line-height: 120%;
    font-size: 160%;
    font-weight: bold;
    padding: 20px 0;
    color: #fff;
    background: #ccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin-right: 20px;
    margin-bottom: 20px; }
    .progressPage .pro-box span {
      font-size: 90%;
      color: rgba(255, 255, 255, 0.7); }
  .progressPage .pro-box.pb-green {
    background: #27ae60; }
  .progressPage .pro-box.pb-yellow {
    background: #f1c40f; }

.respDoctor {
  display: block;
  position: fixed;
  top: 0px;
  right: 50px;
  width: 130px;
  height: 20px;
  line-height: 20px;
  font-size: 70%;
  text-align: center;
  z-index: 10000; }
  .respDoctor .veiwP {
    display: none;
    color: #fff;
    width: 30px;
    height: 100%;
    background: #c0392b;
    position: absolute;
    right: 0px; }
  .respDoctor .screenS {
    display: block;
    color: #fff;
    width: 100px;
    height: 100%;
    background: #000;
    position: absolute;
    right: 30px; }

.respDoctor:hover .screenS, .respDoctor:hover .veiwP {
  margin-top: -500px; }

.home-top {
  display: block;
  float: left;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 0px; }

.home-top-inner {
  display: block;
  float: left;
  height: 100%;
  width: 100%; }

.ht-sec-1 {
  display: block;
  float: left;
  width: 100%;
  height: 40%; }

.ht-sec-2 {
  display: block;
  float: left;
  width: 100%;
  height: 27%; }

.ht-sec-3 {
  display: block;
  float: left;
  width: 100%; }
  .ht-sec-3 .homeSearchDrop {
    dislay: block;
    float: left;
    position: absolute;
    top: 100%;
    left: 0px;
    min-height: 100px;
    background: #98dcff;
    border: solid 1px #fff;
    border-top: 0; }
    .ht-sec-3 .homeSearchDrop .hs-drop-item {
      dislay: block;
      float: left;
      width: 100%;
      line-height: 40px;
      font-family: AYearWithoutRain;
      font-size: 120%;
      padding-left: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.21);
      color: rgba(255, 255, 255, 0.9); }
    .ht-sec-3 .homeSearchDrop .hs-drop-item:hover {
      cursor: pointer;
      color: white; }

.ht-sec-3 > div > input, .ht-sec-3 > div > button {
  height: 55px; }

.ht-sec-3 .Sbtn-tabPort {
  display: none;
  width: 100%;
  margin-top: 10px;
  border-left: 1px solid #fff; }
.ht-sec-3 .Sop-tabPort {
  display: none;
  margin-top: 10px; }

.home-mid {
  width: 100%;
  min-height: 0px;
  margin-top: 1500px; }

.home-mid .hm-box {
  display: inline-block;
  float: left;
  width: 50%;
  min-height: 300px; }

.home-mid .hm-box > .sec1 {
  width: 100%;
  height: 150px; }

.home-mid .hm-box > .sec1 > .img {
  height: 100px;
  margin-top: 25px; }

.home-mid .hm-box > .sec1 > .img > img {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%; }

.home-mid .hm-box .sec2 {
  width: 100%;
  min-height: 30px; }

.home-mid .hm-box .sec3 {
  width: 100%;
  min-height: 20px; }

.pageOuter {
  display: block;
  float: left;
  position: relative;
  min-height: 200px;
  line-height: 120%;
  width: 100%; }
  .pageOuter .page-left {
    display: block;
    float: left;
    position: absolute;
    width: 220px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: #66cbff; }
    .pageOuter .page-left .top {
      display: block;
      float: left;
      width: 100%;
      padding: 40px 0 0 20px;
      color: #fff; }
    .pageOuter .page-left .cont {
      display: block;
      float: left;
      width: 100%;
      font-size: 86%; }
      .pageOuter .page-left .cont .sector {
        display: block;
        float: left;
        width: 100%; }
      .pageOuter .page-left .cont .parent, .pageOuter .page-left .cont .child, .pageOuter .page-left .cont .endNode {
        display: block;
        float: left;
        width: 100%; }
      .pageOuter .page-left .cont .parent, .pageOuter .page-left .cont .endNode {
        height: 27px;
        line-height: 27px;
        padding-left: 10px; }
      .pageOuter .page-left .cont .parent:hover, .pageOuter .page-left .cont .endNode:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1); }
      .pageOuter .page-left .cont .child {
        display: none;
        color: #fff;
        padding-left: 10px; }
        .pageOuter .page-left .cont .child .active > .parent {
          /* state */
          border-left: _states solid #000; }
      .pageOuter .page-left .cont .active > .parent {
        font-family: GOTHICB;
        background: rgba(225, 225, 225, 0.3); }
      .pageOuter .page-left .cont .active > .child {
        display: block; }
  .pageOuter .page-mid {
    display: block;
    float: left;
    margin-left: 220px;
    width: calc(100% - 220px);
    min-height: 100%;
    background: #fff; }
    .pageOuter .page-mid .sector {
      display: block;
      float: left;
      width: calc(100% - 40px);
      position: relative;
      margin: 20px;
      min-height: 0px;
      padding-bottom: 30px;
      border-bottom: 1px solid #888; }
      .pageOuter .page-mid .sector .topSection, .pageOuter .page-mid .sector .bottomSection {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        min-height: 0px; }
        .pageOuter .page-mid .sector .topSection .main, .pageOuter .page-mid .sector .bottomSection .main {
          display: block;
          float: left;
          width: 32%;
          margin-left: 0;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          padding: 0px 0; }
          .pageOuter .page-mid .sector .topSection .main .top, .pageOuter .page-mid .sector .topSection .main .mid, .pageOuter .page-mid .sector .topSection .main .bottom, .pageOuter .page-mid .sector .bottomSection .main .top, .pageOuter .page-mid .sector .bottomSection .main .mid, .pageOuter .page-mid .sector .bottomSection .main .bottom {
            display: block;
            float: left;
            width: 100%; }
            .pageOuter .page-mid .sector .topSection .main .top .img, .pageOuter .page-mid .sector .topSection .main .mid .img, .pageOuter .page-mid .sector .topSection .main .bottom .img, .pageOuter .page-mid .sector .bottomSection .main .top .img, .pageOuter .page-mid .sector .bottomSection .main .mid .img, .pageOuter .page-mid .sector .bottomSection .main .bottom .img {
              width: 120px;
              height: 120px;
              margin: 0 auto; }
              .pageOuter .page-mid .sector .topSection .main .top .img img, .pageOuter .page-mid .sector .topSection .main .mid .img img, .pageOuter .page-mid .sector .topSection .main .bottom .img img, .pageOuter .page-mid .sector .bottomSection .main .top .img img, .pageOuter .page-mid .sector .bottomSection .main .mid .img img, .pageOuter .page-mid .sector .bottomSection .main .bottom .img img {
                max-width: 100%;
                max-height: 100%;
                min-height: 100%; }
          .pageOuter .page-mid .sector .topSection .main .top, .pageOuter .page-mid .sector .bottomSection .main .top {
            height: calc(100% / 3 ); }
          .pageOuter .page-mid .sector .topSection .main .mid, .pageOuter .page-mid .sector .bottomSection .main .mid {
            font-family: GOTHIC;
            font-size: 160%;
            padding: 5px 0;
            line-height: 130%; }
          .pageOuter .page-mid .sector .topSection .main .bottom, .pageOuter .page-mid .sector .bottomSection .main .bottom {
            font-size: 90%;
            padding: 5px 0;
            color: #555; }
        .pageOuter .page-mid .sector .topSection .childCart, .pageOuter .page-mid .sector .topSection .restChildCart, .pageOuter .page-mid .sector .bottomSection .childCart, .pageOuter .page-mid .sector .bottomSection .restChildCart {
          display: table;
          float: left;
          position: relative;
          margin-left: 32%;
          width: 68%; }
        .pageOuter .page-mid .sector .topSection .childCart .child:nth-child(1),
        .pageOuter .page-mid .sector .topSection .childCart .child:nth-child(2), .pageOuter .page-mid .sector .bottomSection .childCart .child:nth-child(1),
        .pageOuter .page-mid .sector .bottomSection .childCart .child:nth-child(2) {
          border-top: none; }
        .pageOuter .page-mid .sector .topSection .restChildCart, .pageOuter .page-mid .sector .bottomSection .restChildCart {
          display: table;
          margin-left: 0%;
          width: 100%;
          max-height: 0px;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
          overflow: hidden; }
          .pageOuter .page-mid .sector .topSection .restChildCart .child, .pageOuter .page-mid .sector .bottomSection .restChildCart .child {
            display: table-cell;
            float: left;
            width: calc( ( 100% / 3 ) - 5px );
            margin-left: 10px;
            max-height: 0px;
            opacity: 0;
            border: none;
            -webkit-transition: max-height 0.5s, opacity 0.5s, border-top 0.9s, margin-top 0.5s;
            -moz-transition: max-height 0.5s, opacity 0.5s, border-top 0.9s, margin-top 0.5s;
            -o-transition: max-height 0.5s, opacity 0.5s, border-top 0.9s, margin-top 0.5s;
            transition: max-height 0.5s, opacity 0.5s, border-top 0.9s, margin-top 0.5s;
            overflow: hidden;
            margin-top: -20px; }
          .pageOuter .page-mid .sector .topSection .restChildCart .child:nth-child(3n + 1), .pageOuter .page-mid .sector .bottomSection .restChildCart .child:nth-child(3n + 1) {
            margin-left: 0;
            width: calc( ( 100% / 3) - 10px); }
          .pageOuter .page-mid .sector .topSection .restChildCart .showChild, .pageOuter .page-mid .sector .bottomSection .restChildCart .showChild {
            max-height: 300px;
            opacity: 1;
            border-top: 1px solid #aaa;
            margin-top: 0px; }
          .pageOuter .page-mid .sector .topSection .restChildCart .child:nth-child(1),
          .pageOuter .page-mid .sector .topSection .restChildCart .child:nth-child(2), .pageOuter .page-mid .sector .bottomSection .restChildCart .child:nth-child(1),
          .pageOuter .page-mid .sector .bottomSection .restChildCart .child:nth-child(2) {
            border-top: 1px solid #aaa; }
        .pageOuter .page-mid .sector .topSection .child, .pageOuter .page-mid .sector .topSection .moreBtn, .pageOuter .page-mid .sector .bottomSection .child, .pageOuter .page-mid .sector .bottomSection .moreBtn {
          display: table-cell;
          float: left;
          width: calc( 50% - 10px );
          margin-left: 10px;
          position: relative;
          padding: 10px 0;
          height: 125px;
          border-top: 1px solid #aaa;
          /* Parent */ }
          .pageOuter .page-mid .sector .topSection .child .head, .pageOuter .page-mid .sector .topSection .child .mid, .pageOuter .page-mid .sector .topSection .child .foot, .pageOuter .page-mid .sector .topSection .moreBtn .head, .pageOuter .page-mid .sector .topSection .moreBtn .mid, .pageOuter .page-mid .sector .topSection .moreBtn .foot, .pageOuter .page-mid .sector .bottomSection .child .head, .pageOuter .page-mid .sector .bottomSection .child .mid, .pageOuter .page-mid .sector .bottomSection .child .foot, .pageOuter .page-mid .sector .bottomSection .moreBtn .head, .pageOuter .page-mid .sector .bottomSection .moreBtn .mid, .pageOuter .page-mid .sector .bottomSection .moreBtn .foot {
            display: block;
            float: left;
            width: 100%; }
          .pageOuter .page-mid .sector .topSection .child .head, .pageOuter .page-mid .sector .topSection .moreBtn .head, .pageOuter .page-mid .sector .bottomSection .child .head, .pageOuter .page-mid .sector .bottomSection .moreBtn .head {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 10px 5px 0 5px;
            font-size: 110%; }
          .pageOuter .page-mid .sector .topSection .child .mid, .pageOuter .page-mid .sector .topSection .moreBtn .mid, .pageOuter .page-mid .sector .bottomSection .child .mid, .pageOuter .page-mid .sector .bottomSection .moreBtn .mid {
            display: block;
            line-height: 20px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 0px 5px 10px 5px; }
            .pageOuter .page-mid .sector .topSection .child .mid tr, .pageOuter .page-mid .sector .topSection .moreBtn .mid tr, .pageOuter .page-mid .sector .bottomSection .child .mid tr, .pageOuter .page-mid .sector .bottomSection .moreBtn .mid tr {
              height: 20px;
              margin: 0px;
              padding: 0px;
              vertical-align: bottom; }
            .pageOuter .page-mid .sector .topSection .child .mid td, .pageOuter .page-mid .sector .topSection .moreBtn .mid td, .pageOuter .page-mid .sector .bottomSection .child .mid td, .pageOuter .page-mid .sector .bottomSection .moreBtn .mid td {
              height: 20px;
              line-height: 20px;
              font-size: 90%;
              color: #444;
              margin: 0px;
              padding: 0px;
              vertical-align: bottom; }
            .pageOuter .page-mid .sector .topSection .child .mid .iconSet div, .pageOuter .page-mid .sector .topSection .moreBtn .mid .iconSet div, .pageOuter .page-mid .sector .bottomSection .child .mid .iconSet div, .pageOuter .page-mid .sector .bottomSection .moreBtn .mid .iconSet div {
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
              -webkit-transition: 0.3s;
              -moz-transition: 0.3s;
              -o-transition: 0.3s;
              transition: 0.3s; }
            .pageOuter .page-mid .sector .topSection .child .mid .iconSet div:nth-child(2), .pageOuter .page-mid .sector .topSection .moreBtn .mid .iconSet div:nth-child(2), .pageOuter .page-mid .sector .bottomSection .child .mid .iconSet div:nth-child(2), .pageOuter .page-mid .sector .bottomSection .moreBtn .mid .iconSet div:nth-child(2) {
              -webkit-transition-delay: 0.2s;
              -moz-transition-delay: 0.2s;
              -o-transition-delay: 0.2s;
              transition-delay: 0.2s; }
            .pageOuter .page-mid .sector .topSection .child .mid .iconSet div:nth-child(3), .pageOuter .page-mid .sector .topSection .moreBtn .mid .iconSet div:nth-child(3), .pageOuter .page-mid .sector .bottomSection .child .mid .iconSet div:nth-child(3), .pageOuter .page-mid .sector .bottomSection .moreBtn .mid .iconSet div:nth-child(3) {
              -webkit-transition-delay: 0.4s;
              -moz-transition-delay: 0.4s;
              -o-transition-delay: 0.4s;
              transition-delay: 0.4s; }
            .pageOuter .page-mid .sector .topSection .child .mid .iconSet div:nth-child(4), .pageOuter .page-mid .sector .topSection .moreBtn .mid .iconSet div:nth-child(4), .pageOuter .page-mid .sector .bottomSection .child .mid .iconSet div:nth-child(4), .pageOuter .page-mid .sector .bottomSection .moreBtn .mid .iconSet div:nth-child(4) {
              -webkit-transition-delay: 0.6s;
              -moz-transition-delay: 0.6s;
              -o-transition-delay: 0.6s;
              transition-delay: 0.6s; }
            .pageOuter .page-mid .sector .topSection .child .mid .iconSet div:nth-child(5), .pageOuter .page-mid .sector .topSection .moreBtn .mid .iconSet div:nth-child(5), .pageOuter .page-mid .sector .bottomSection .child .mid .iconSet div:nth-child(5), .pageOuter .page-mid .sector .bottomSection .moreBtn .mid .iconSet div:nth-child(5) {
              -webkit-transition-delay: 0.8s;
              -moz-transition-delay: 0.8s;
              -o-transition-delay: 0.8s;
              transition-delay: 0.8s; }
          .pageOuter .page-mid .sector .topSection .child .headF, .pageOuter .page-mid .sector .topSection .moreBtn .headF, .pageOuter .page-mid .sector .bottomSection .child .headF, .pageOuter .page-mid .sector .bottomSection .moreBtn .headF {
            padding-bottom: 3px;
            font-size: 110%; }
          .pageOuter .page-mid .sector .topSection .child .BottomImg, .pageOuter .page-mid .sector .topSection .moreBtn .BottomImg, .pageOuter .page-mid .sector .bottomSection .child .BottomImg, .pageOuter .page-mid .sector .bottomSection .moreBtn .BottomImg {
            display: block;
            float: left;
            background: #ddd;
            width: 100px;
            height: 70px;
            overflow: hidden;
            margin-right: 5px; }
            .pageOuter .page-mid .sector .topSection .child .BottomImg img, .pageOuter .page-mid .sector .topSection .moreBtn .BottomImg img, .pageOuter .page-mid .sector .bottomSection .child .BottomImg img, .pageOuter .page-mid .sector .bottomSection .moreBtn .BottomImg img {
              max-width: 100%;
              min-width: 100%; }
          .pageOuter .page-mid .sector .topSection .child .overH6, .pageOuter .page-mid .sector .topSection .moreBtn .overH6, .pageOuter .page-mid .sector .bottomSection .child .overH6, .pageOuter .page-mid .sector .bottomSection .moreBtn .overH6 {
            display: block;
            float: right;
            width: calc(100% - 105px); }
          .pageOuter .page-mid .sector .topSection .child .subParent, .pageOuter .page-mid .sector .topSection .moreBtn .subParent, .pageOuter .page-mid .sector .bottomSection .child .subParent, .pageOuter .page-mid .sector .bottomSection .moreBtn .subParent {
            display: block;
            float: left;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%; }
            .pageOuter .page-mid .sector .topSection .child .subParent .subImage, .pageOuter .page-mid .sector .topSection .moreBtn .subParent .subImage, .pageOuter .page-mid .sector .bottomSection .child .subParent .subImage, .pageOuter .page-mid .sector .bottomSection .moreBtn .subParent .subImage {
              display: block;
              float: left;
              height: 60px;
              width: 60px; }
              .pageOuter .page-mid .sector .topSection .child .subParent .subImage img, .pageOuter .page-mid .sector .topSection .moreBtn .subParent .subImage img, .pageOuter .page-mid .sector .bottomSection .child .subParent .subImage img, .pageOuter .page-mid .sector .bottomSection .moreBtn .subParent .subImage img {
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                opacity: 0.5; }
            .pageOuter .page-mid .sector .topSection .child .subParent .desc, .pageOuter .page-mid .sector .topSection .moreBtn .subParent .desc, .pageOuter .page-mid .sector .bottomSection .child .subParent .desc, .pageOuter .page-mid .sector .bottomSection .moreBtn .subParent .desc {
              display: block;
              float: left;
              width: calc(100% - 60px);
              font-size: 80%;
              line-height: 120%;
              padding-top: 10px;
              color: #aaa; }
              .pageOuter .page-mid .sector .topSection .child .subParent .desc span, .pageOuter .page-mid .sector .topSection .moreBtn .subParent .desc span, .pageOuter .page-mid .sector .bottomSection .child .subParent .desc span, .pageOuter .page-mid .sector .bottomSection .moreBtn .subParent .desc span {
                color: #66cbff; }
        .pageOuter .page-mid .sector .topSection .moreBtn, .pageOuter .page-mid .sector .bottomSection .moreBtn {
          background: rgba(102, 203, 225, 0.3);
          line-height: 105px;
          text-align: center;
          font-family: GOTHICB;
          font-size: 140%;
          color: #fff; }
    .pageOuter .page-mid .sector:nth-last-child(1) {
      border-bottom: none; }

.funzonePage {
  display: block;
  float: left;
  position: relative;
  min-height: 600px;
  line-height: 120%; }
  .funzonePage .navBlock {
    display: block;
    float: left;
    width: 90%;
    margin: 5px 5%;
    height: 50px;
    border: 2px solid #555;
    text-align: center;
    line-height: 50px;
    font-size: 120%; }
  .funzonePage .navBlock:hover {
    cursor: pointer;
    border: 2px solid #66cbff; }
  .funzonePage .navBlock.active {
    border-right: 20px solid #555; }
  .funzonePage .navBlock.active:hover {
    border: 2px solid #555;
    border-right: 20px solid #555;
    cursor: default; }
  .funzonePage .F-right, .funzonePage .F-mid, .funzonePage .F-left {
    display: block;
    float: left;
    min-height: 300px;
    padding-top: 10px; }
  .funzonePage .F-left {
    width: 26%; }
  .funzonePage .F-right {
    width: 24%; }
  .funzonePage .F-mid {
    width: 50%;
    padding-top: 25px; }
    .funzonePage .F-mid .F-mid-top {
      display: block;
      float: left;
      width: 100%;
      padding: 10px 1.25%; }
      .funzonePage .F-mid .F-mid-top .F-sector {
        display: block;
        float: left;
        width: 100%; }
        .funzonePage .F-mid .F-mid-top .F-sector .navBlock {
          width: 47.5%;
          margin: 5px 1.25%;
          border: 2px solid #555;
          border-right: 20px solid #555; }
        .funzonePage .F-mid .F-mid-top .F-sector .navBlock:hover {
          border: 2px solid #66cbff;
          border-right: 20px solid #66cbff; }
        .funzonePage .F-mid .F-mid-top .F-sector .navBlock.active {
          border: 2px solid #66cbff;
          border-right: 20px solid #66cbff; }
        .funzonePage .F-mid .F-mid-top .F-sector .navBlock.active:hover {
          border-right: 20px solid #66cbff;
          cursor: default; }
        .funzonePage .F-mid .F-mid-top .F-sector .nav-slide.ng-enter {
          position: relative;
          margin-top: 0px;
          opacity: 0; }
        .funzonePage .F-mid .F-mid-top .F-sector .nav-slide.ng-enter.ng-enter-active {
          margin-top: 5px;
          opacity: 1; }
        .funzonePage .F-mid .F-mid-top .F-sector .nav-slide.ng-enter-stagger {
          transition-delay: 0s;
          animation-delay: 0s; }
    .funzonePage .F-mid .F-mid-bottom {
      display: block;
      float: left;
      width: 100%;
      min-height: 300px;
      padding: 10px 1.25%; }
  .funzonePage .padding-0 {
    padding: 0; }
  .funzonePage .F-heading {
    display: block;
    float: left;
    width: 92%;
    margin: 5px 4%;
    font-size: 120%; }
  .funzonePage .F-newsBlock {
    display: block;
    float: left;
    position: relative;
    width: 92%;
    min-height: 120px;
    margin: 10px 4%;
    border: 1px solid #888;
    overflow: hidden; }
    .funzonePage .F-newsBlock .img {
      display: block;
      float: left;
      position: absolute;
      width: 200px;
      left: 0px;
      top: 0px;
      bottom: 0px;
      background: #eee;
      overflow: hidden; }
      .funzonePage .F-newsBlock .img img {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%; }
    .funzonePage .F-newsBlock .cont {
      display: block;
      float: left;
      width: calc(100% - 200px );
      margin-left: 200px;
      height: 100%;
      font-size: 90%;
      overflow: hidden;
      padding-bottom: 5px; }
      .funzonePage .F-newsBlock .cont .date, .funzonePage .F-newsBlock .cont .title, .funzonePage .F-newsBlock .cont .desc {
        display: block;
        float: left; }
      .funzonePage .F-newsBlock .cont .title {
        text-overflow: ellipsis;
        width: 96%;
        margin: 0 2%;
        padding: 3px 0px;
        border-bottom: 1px solid #66cbff; }
      .funzonePage .F-newsBlock .cont .date, .funzonePage .F-newsBlock .cont .desc {
        width: 96%;
        font-size: 80%;
        color: #888;
        margin: 0 2%;
        padding: 3px 0px;
        line-height: 15px; }
      .funzonePage .F-newsBlock .cont .desc {
        padding: 0;
        color: #aaa;
        max-height: 60px;
        overflow: hidden;
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; }
  .funzonePage .F-newsBlock:hover {
    cursor: pointer;
    border: 1px solid #66cbff; }
  .funzonePage .F-newsBlock.-vert {
    min-height: 240px; }
    .funzonePage .F-newsBlock.-vert .img {
      width: 100%;
      bottom: none;
      height: 130px; }
    .funzonePage .F-newsBlock.-vert .cont {
      width: 100%;
      margin-left: 0;
      margin-top: 130px;
      height: none; }
  .funzonePage .F-newsBlock.-larg {
    min-height: 340px; }
    .funzonePage .F-newsBlock.-larg .img {
      width: 100%;
      bottom: none;
      height: 230px; }
    .funzonePage .F-newsBlock.-larg .cont {
      width: 100%;
      margin-left: 0;
      margin-top: 230px;
      height: none; }
      .funzonePage .F-newsBlock.-larg .cont .title {
        font-size: 110%; }
      .funzonePage .F-newsBlock.-larg .cont .desc {
        color: #666;
        padding-top: 10px;
        font-size: 100%;
        max-height: 160px;
        -webkit-line-clamp: 10; }
  .funzonePage .feed-slide.ng-enter,
  .funzonePage .feed-slide.ng-leave {
    -webkit-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    -moz-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    -ms-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    -o-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    transition: 700ms cubic-bezier(0, 0, 0, 1) all; }
  .funzonePage .feed-slide.ng-enter {
    bottom: -100px;
    opacity: 0; }
  .funzonePage .feed-slide.ng-enter.ng-enter-active {
    bottom: 0px;
    opacity: 1; }
  .funzonePage .feed-slide.ng-leave {
    top: 0px;
    opacity: 1; }
  .funzonePage .feed-slide.ng-leave.ng-leave-active {
    top: -100px;
    opacity: 0; }
  .funzonePage .feed-slide.ng-enter-stagger {
    transition-delay: 0.1s;
    animation-delay: 0.1s; }
  .funzonePage .nav-slide.ng-enter {
    -webkit-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    -moz-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    -ms-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    -o-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
    transition: 700ms cubic-bezier(0, 0, 0, 1) all; }
  .funzonePage .nav-slide.ng-leave {
    -webkit-transition: 0ms cubic-bezier(0, 0, 0, 1, 1) all;
    -moz-transition: 0ms cubic-bezier(0, 0, 0, 1, 1) all;
    -ms-transition: 0ms cubic-bezier(0, 0, 0, 1, 1) all;
    -o-transition: 0ms cubic-bezier(0, 0, 0, 1, 1) all;
    transition: 0ms cubic-bezier(0, 0, 0, 1) all; }
  .funzonePage .nav-slide.ng-enter {
    position: relative;
    margin-top: 100px;
    opacity: 0; }
  .funzonePage .nav-slide.ng-enter.ng-enter-active {
    margin-top: 5px;
    opacity: 1; }
  .funzonePage .nav-slide.ng-leave {
    margin-top: 5px;
    opacity: 1; }
  .funzonePage .nav-slide.ng-leave.ng-leave-active {
    margin-top: -100px;
    opacity: 0; }
  .funzonePage .nav-slide.ng-enter-stagger {
    transition-delay: 0.2s;
    animation-delay: 0.2s; }

/*# sourceMappingURL=layouts.css.map */
