/* Colors */
/* images */
/* Testing */
.cust-header {
  transition: margin-top 0.5s; }

.cust-footer {
  font-family: GOTHICB;
  background: #101010; }
  .cust-footer .foot-1 {
    line-height: 120px;
    color: #fff;
    text-align: center;
    letter-spacing: .1em;
    font-size: 110%; }
  .cust-footer .foot-2 .foot-2block {
    line-height: 45px;
    color: #83a4b3;
    text-align: center;
    font-size: 110%;
    letter-spacing: .1em;
    border: rgba(255, 255, 255, 0.3) 1px solid; }
  .cust-footer .foot-3 {
    border-top: rgba(255, 255, 255, 0.3) 1px solid;
    border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
    padding: 20px 15%; }
  .cust-footer .foot-4 {
    padding: 20px 15% 0 15%; }
    .cust-footer .foot-4 .foot-4block {
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-family: GOTHIC; }
  .cust-footer .foot-5 {
    line-height: 120px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.4);
    font-family: GOTHIC; }

/* ICONS */
.star-checked {
  display: block;
  float: left;
  background: url("../../images/icons/star_checked.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px; }

.star-unchecked {
  display: block;
  float: left;
  background: url("../../images/icons/star_unchecked.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px; }

/* Colors */
/* images */
/* Testing */
.home-top-inner {
  transition: 0.5s; }

.home-top {
  background: #66cbff;
  color: #fff; }

.ht-sec-1 {
  padding: 100px 50px 0px 15%;
  font-size: 140%;
  color: rgba(255, 255, 255, 0.7);
  font-family: AYearWithoutRain; }
  .ht-sec-1 .strong {
    color: #fff; }

.ht-sec-2 {
  font-size: 150%;
  letter-spacing: 0.1em;
  font-weight: Bold;
  font-family: GOTHICB;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 50px;
  line-height: 120%; }
  .ht-sec-2 .diff {
    font-family: AYearWithoutRain;
    font-weight: 100; }

.ht-sec-2 .strong {
  color: #fff; }

.ht-sec-3 > div > input, .ht-sec-3 > div > button {
  display: block;
  float: left;
  background: #66cbff;
  border: solid 1px #fff;
  border-radius: 0;
  text-align: center;
  font-family: GOTHICB;
  font-size: 140%; }

.ht-sec-3 > div > input {
  font-family: AYearWithoutRain;
  font-weight: 100;
  font-size: 120%;
  line-height: 50px; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.7);
  text-align: center; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 0.7;
  text-align: center; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 0.7;
  text-align: center; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.7);
  text-align: center; }

.ht-sec-3 > div > button {
  background: #98dcff;
  border-left: 0; }

.home-mid {
  background: #fff;
  padding: 50px 0; }

.home-mid .hm-box {
  background: #fff; }

.home-mid .hm-box .sec2 {
  color: #333;
  line-height: 30px;
  padding: 0 30px; }

.home-mid .hm-box .sec3 {
  color: #777;
  font-size: 90%;
  padding: 0 30px;
  line-height: 130%;
  overflow: hidden; }

/*# sourceMappingURL=modules.css.map */
